<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Menu</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <main>
            <!-- <img src="/images/menu.jpg" alt="Menu" class="menu-image"> -->
            <img src="/images/PK 1.jpg" alt="Menu-1" class="menu-image">
            <img src="/images/pk 2.jpg"Menu-2" class="menu-image">

        </main>
    </body>
</html>
